# The language in this case has no bearing - we are going to be making use of conda.
language: generic

os: osx

# Set BINSTAR_TOKEN
env:
    global:
        secure: "yqmDFJOyWu+3Fd77CAo7yfkFU+kARBUexCQsI8CvFM+4gR75HeReFaC7VMtcxhUTRbXvXT30O/Ju20F7Zpc1Avsx0bCAAc5I0J5OmggPk5NbrHcosEN8z27ELY9xjqn5z8b7Te/vDzoEdi4aJ0p30FAKjeMpjIrpcKprcaaYdliqKV4661l5rgjAxhpzBuAwQPgQySobrn6vK90Y7kGoDqccgjx3fpA469aDtpe16dZtESREWHyfod9RzwggqNBnvKpBKJ5lR12Z4G+g8fGb3sS9Pq98ZbT1JqLbcjLnm6LH5Jafp7n7m6aEUZmlBQwQ/qgXWl8PcBdsS/ZPqBOgV5wcaRAM5g+AKq1R/+JLahicsvMZBXw61W2c9IZQ93at4RiJF6xsDyg+r+ZQFjtAIsXg8z80DQilGLPAj7Nfp20VNMrWN82JikfolfMn7kIarmSzELB8lfapeoF5b+Jybc80NTOGbUr/TCm8nqaOr3oo3rcu5UlGsGpKDwquC/TGJ1cl71xNDmItUjRCWS3+GbwYuHftnbeZ41HaUQq/P1G5XpoDET/fcOC1nN45DBuAwOuSTQYcxIleMCKJguvbmo8JF1ULDDGS7hARl7fZnmkZLjKlGP4cgFo4y4QACN7JoO58tQPhREgiDD2j9il7mBAZVwss5Cnh0MpYofSd3uI="


before_install:
    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew

install:
    # Install Miniconda.
    - ./install_miniconda.sh

script:
    - source ~/miniconda/bin/activate root
    - conda build ./recipe
    # from https://github.com/conda-forge/conda-forge-build-setup-feedstock/blob/master/recipe/upload_or_check_non_existence.py
    - ./upload_or_check_non_existence ./recipe sebp --channel=main
